{% extends "layout.html" %}

{% block css %}
    <link href="{{ url_for('static', filename='css/blog-list.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="main-content d-flex flex-column align-items-stretch my-5 text-main">
        <div class="add-new align-self-end mb-3 me-3">
            <a class="text-white px-3 py-2" href="/blog/create">Add Problem</a>
        </div>
        <div class="blog-list">
            <!-- EMPTY ON PURPOSE -->
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="module" src="{{ url_for('static', filename='js/blog-list.js') }}"></script>
{% endblock %}