{% extends "layout.html" %}

{% block css %}
    <link href="{{ url_for('static', filename='css/create-blog.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="main-content d-flex align-items-stretch my-5 text-main">
        <form name="blog-create" class="w-100" action="http://localhost:3000/blogs" method="post">
            <input type="hidden" name="author_id">
            <input type="hidden" name="tag_ids">

            <div class="form-item d-flex flex-column align-items-start mb-1 p-2">
                <p class="h5 mb-1">Title</p>
                <p class="text-muted h7 mb-2">What is your problem?</p>
                <input name="title" disabled class="w-100 text-main border-none p-2 mb-2" type="text">
                <button disabled type="button" class="btn btn-primary">Next</button>
            </div>

            <div class="form-item d-flex flex-column align-items-start mb-1 p-2">
                <p class="h5 mb-1">Your problem</p>
                <p class="text-muted h7 mb-2">Describe your problem in detail</p>
                <textarea name="problem" disabled class="w-100 text-main border-none p-2 mb-2"></textarea>
                <button disabled type="button" class="hidden btn btn-primary">Next</button>
            </div>

            <div class="form-item d-flex flex-column align-items-start mb-1 p-2">
                <p class="h5 mb-1">Your solution</p>
                <p class="text-muted h7 mb-2">What you found that really helped</p>
                <textarea name="solution" disabled class="w-100 text-main border-none p-2 mb-2"></textarea>
                <button disabled type="button" class="hidden btn btn-primary">Next</button>
            </div>

            <div class="form-item d-flex flex-column align-items-start mb-1 p-2">
                <p class="h5 mb-1">Solution's reference</p>
                <p class="text-muted h7 mb-2">URL to the solution page</p>
                <input name="reference" disabled class="w-100 text-main border-none p-2 mb-2" type="text">
                <button disabled type="button" class="hidden btn btn-primary">Next</button>
            </div>
            <div class="form-item d-flex flex-column align-items-start mb-1 p-2">
                <p class="h5 mb-1">Tags</p>
                <p class="text-muted h7 mb-2">What are the categories of this question? Which technology is this problem about?</p>
                <div class="tag-input w-100 d-flex flex-column mb-2">
                    <div class="tag-select d-flex align-items-center mb-2 ps-2">
                        <div class="selected-tag d-flex align-items-center">
                            <!-- EMPTY ON PURPOSE -->
                        </div>
                        <input disabled class="w-100 text-main border-none p-2" type="text">
                    </div>
                    <div class="tag-list hidden d-flex flex-column align-items-start">
                        <!-- EMPTY ON PURPOSE -->
                    </div>
                </div>
                <button type="submit" class="disabled hidden btn btn-primary">Add problem</button>
                <!-- this buttons require a overwritten disabled class, instead of a disabled attribute 
                    because opacity property comes with disabled attribute or Bootstrap's disabled class causes strange behaviour-->

            </div>
            
        </form>
    </div>
{% endblock %}

{% block js %}
    <script type="module" src="{{ url_for('static', filename='js/create-blog.js') }}"></script>
{% endblock %}