.h7 {
    font-size: 0.9rem;
}

/* ADD NEW BUTTON */
.add-new {
    background-color: #78C478;
    font-size: 1.1rem;
}

.add-new:hover {
    background-color: #7FCC86;
    cursor: pointer;
}

.add-new a {
    display: block;
    text-decoration: none;
}

/* BLOG */
.blog-item {
    position: relative;
    padding: 24px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--white-green);
}

.blog-item .blog-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.blog-item .blog-title {
    margin-bottom: 0 !important;
    animation: blogItemHover-title-reversed 0.5s ease forwards;
}

.blog-item img {
    width: 40px;
    margin-left: 10px;
    margin-right: 20px;
    animation: blogItemHover-img-reversed 0.5s ease forwards;
}

.blog-item .blog-option {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80px;
}

.blog-item .blog-option .option-button {
    border-radius: 50%;
    padding: 10px;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 1;
    text-align: center;
}

.blog-item .option-container {
    position: relative;
    right: 50%;
    top: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--white-green);
    box-shadow: 0px 0px 1px 1px rgba(200,210,200,1);
}

.blog-item .option-container a {
    text-decoration: none;
}

.blog-item .option-container .option-item {
    color: var(--dark-green);
}

.blog-item .blog-option .option-button:hover {
    background-color: var(--dark-green);
    color: var(--white-green);
}

.blog-item .option-container .option-item:hover {
    cursor: pointer;
    color: var(--white-green) ;
    background-color: var(--dark-green);
}

.blog-item:hover {
    cursor: pointer;
    animation: blogItemHover-bg 0.5s ease forwards;
    color: var(--white-green);
}

.blog-item:hover .blog-title {
    cursor: pointer;
    animation: blogItemHover-title 0.5s ease forwards;
}

.blog-item:hover .tag,
.blog-item:hover .tag a {
    color: var(--white-green) !important;
}

.blog-item:hover img {
    animation: blogItemHover-img 0.5s ease forwards;
}

.blog-item .tag a:hover {
    cursor: pointer;
    animation: tagHover 0.3s ease forwards;
}


@keyframes tagHover {
    from {font-size: 1rem;}
    to {font-size: 1.3rem;}
}

@keyframes blogItemHover-title {
    from {font-size: 2.5rem;}
    to {font-size: 3rem;}
}
@keyframes blogItemHover-title-reversed {
    from {font-size: 3rem;}
    to {font-size: 2.5rem;}
}

@keyframes blogItemHover-img {
    from {width: 40px;}
    to {width: 50px;}
}
@keyframes blogItemHover-img-reversed {
    from {width: 50px;}
    to {width: 40px;}
}

@keyframes blogItemHover-bg {
    from {}
    to {background-color:rgba(150, 160, 150, 1)}
}



@media (max-width: 1023px) {
    .blog-item {
        max-height: 200px;
    }

    .blog-item .img-dominant-tech {
        display: none;
    }

    .blog-item .blog-title {
        font-size: 2rem !important;
    }

    .blog-item .blog-shorten-content {
        overflow: hidden;
    }
}   