/* Mobile + Tablet */
@media (max-width: 1023px) {
    .container {
        max-width: 100% !important;
        padding: 10px;
    }

    .header {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .header>div {
        padding: 0 10px;
    }

    .header .ti-menu {
        display: block !important;
        position: absolute;
        right: 10px;
        clear: both;
    }

    .header nav {
        width: 100%;
        margin-top: 10px;
        position: initial !important;
    }

    .header nav>div {
        width: 100%;
        background-color: rgba(0,0,0,0.3);
    }

    .header .navbar-nav {
        flex-direction: column !important;
        justify-content: flex-start;
    }

    .header .nav-item {
        padding: 0 !important;
    }

    .header .nav-link {
        padding: 10px 0;
        border-radius: 0;
    }

    .profile-avatar {
        display: none !important;
    }
    
    .main-content {
        margin-top: 20px !important;
    }

    .blog-item {
        max-height: 200px;
    }
    
    .blog-item .img-dominant-tech {
        display: none;
    }

    .blog-item .blog-title {
        font-size: 2rem !important;
    }

    .blog-item .blog-shorten-content {
        overflow: hidden;
    }
}