:root {
    --dark-green: #667066;
    --brighter-dark-green: #808880;

    --white-green: #f9fff9;
}

html {
    height: 100%;
}

body {
    background-image: url("/assets/img/bg.jpg");
    background-repeat: repeat-y;
    background-size: 100% auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
    padding: 0;
    margin: 0;
}

p {
    margin: 0 !important;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
}

/* SEMANTIC */
.hidden {
    display: none !important;
}

.text-white {
    color: var(--white-green) !important;
}

.text-main {
    color: var(--dark-green);
}

.text-muted {
    color: var(--brighter-dark-green) !important;
}

.shaded-bg {
    background-color: rgba(0, 0, 0, 0.5);
}

.round-shape {
    border-radius: 50%;
}

/* NAV BAR */
.header .ti-menu {
    display: none !important;
    text-align: center;
    vertical-align: center;
    font-size: 25px;
}

.header .ti-menu:hover {
    cursor: pointer;
}

.header .nav-link {
    min-width: 100px;
    border-radius: 5px;
}

.header .nav-link:hover {
    cursor: pointer;
    animation: navHover 0.5s forwards;
}

@keyframes navHover {
    to {
        background-color: rgba(100, 100, 100, 0.2);
    }
}

.header .profile-avatar {
    align-items: center;
}

.header .profile-avatar img {
    width: 2rem;
}

.header .profile-avatar img:hover {
    cursor: pointer;
}

/* TAGS */
.tag {
    margin: 0;
    display: block;
    height: 30px;
}

.tag a {
    text-decoration: none;
    color: var(--dark-green);
}

.tag a:hover {
    color: var(--brighter-dark-green);
}


/* FOOTER */
.footer {
    height: 3rem;
    color: var(--brighter-dark-green);
}