:root {
    --dark-green: #667066;
    --brighter-dark-green: #808880;

    --white-green: #f9fff9;
}

html {
    height: 100%;
}

body {
    background-image: url("/assets/img/bg.jpg");
    background-repeat: repeat-y;
    background-size: 100% auto;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

p {
    margin: 0 !important;
}

/* SEMANTIC */
.hidden {
    display: none;
}

.max-vw-47 {
    max-width: 47vw;
}

.h3 {
    margin: 0;
}

.text-white {
    color: var(--white-green) !important;
}

.text-main {
    color: var(--dark-green);
}

.text-muted {
    color: var(--brighter-dark-green) !important;
}

.text-dark {
    color: var(--dark-green) !important;
}

.shaded-bg {
    background-color: rgba(0, 0, 0, 0.5);
}

.max-vh-80 {
    max-height: 80vh;
}

.round-shape {
    border-radius: 50%;
}

/* NAV BAR */
.container {
    max-width: 80% !important;
}

.header .ti-menu {
    display: none !important;
    text-align: center;
    vertical-align: center;
    font-size: 25px;
}

.header .ti-menu:hover {
    cursor: pointer;
}

.header .nav-link {
    min-width: 100px;
    border-radius: 5px;
}

.header .nav-link:hover {
    cursor: pointer;
    animation: navHover 0.5s forwards;
}

@keyframes navHover {
    to {
        background-color: rgba(100, 100, 100, 0.2);
    }
}

.header .profile-avatar {
    align-items: center;
}

.header .profile-avatar img {
    width: 2rem;
}

.header .profile-avatar img:hover {
    cursor: pointer;
}

/* BLOG */
.blog-item {
    padding: 24px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--white-green);
}

.blog-item .blog-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.blog-item .blog-title {
    margin-bottom: 0 !important;
    animation: blogItemHover-title-reversed 0.5s ease forwards;
}

.blog-item .blog-tag {
    margin: 0;
    display: block;
    height: 30px;
}

.blog-item img {
    width: 40px;
    margin-left: 10px;
    margin-right: 20px;
    animation: blogItemHover-img-reversed 0.5s ease forwards;
}

.blog-item .blog-tag a {
    text-decoration: none;
}

.blog-item:hover {
    cursor: pointer;
    animation: blogItemHover-bg 0.5s ease forwards;
    color: var(--white-green);
}

.blog-item:hover .blog-title {
    cursor: pointer;
    animation: blogItemHover-title 0.5s ease forwards;
}

.blog-item:hover .blog-tag,
.blog-item:hover .blog-tag a {
    color: var(--white-green) !important;
}

.blog-item:hover img {
    animation: blogItemHover-img 0.5s ease forwards;
}

.blog-item .blog-tag a:hover {
    cursor: pointer;
    animation: tagHover 0.3s ease forwards;
}

.footer {
    height: 3rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--brighter-dark-green);
}

@keyframes tagHover {
    from {font-size: 1rem;}
    to {font-size: 1.3rem;}
}

@keyframes blogItemHover-title {
    from {font-size: 2.5rem;}
    to {font-size: 3rem;}
}
@keyframes blogItemHover-title-reversed {
    from {font-size: 3rem;}
    to {font-size: 2.5rem;}
}

@keyframes blogItemHover-img {
    from {width: 40px;}
    to {width: 50px;}
}
@keyframes blogItemHover-img-reversed {
    from {width: 50px;}
    to {width: 40px;}
}

@keyframes blogItemHover-bg {
    from {}
    to {background-color:rgba(84, 94, 87, 0.5)}
}